In [3]:
import pandas as pd
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'

In [4]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 4.8 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (1.2.4)
Requirement already satisfied: lxml in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/musubimanagement/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
import requests

headers = {
        'Content-Type': 'application/json'
        }
requestResponse = requests.get("https://api.tiingo.com/api/test?token=49670d218e72e7fdb57ad7c4342df7837a773088",
                                    headers=headers)
print(requestResponse.json())

{'message': 'You successfully sent a request'}

In [12]:
key="49670d218e72e7fdb57ad7c4342df7837a773088"

In [13]:
import pandas_datareader as pdr

In [15]:
data=pdr.get_data_tiingo('ATOM',api_key=key)

In [16]:
data.to_csv('ATOM.csv')

In [17]:
df=pd.read_csv('ATOM.csv')
df

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,ATOM,2016-11-25 00:00:00+00:00,7.05,7.0500,6.6600,6.660,531,7.05,7.0500,6.6600,6.660,531,0.0,1.0
1,ATOM,2016-11-28 00:00:00+00:00,6.60,6.6400,6.6000,6.610,1922,6.60,6.6400,6.6000,6.610,1922,0.0,1.0
2,ATOM,2016-11-29 00:00:00+00:00,6.98,6.9869,6.6000,6.654,9195,6.98,6.9869,6.6000,6.654,9195,0.0,1.0
3,ATOM,2016-11-30 00:00:00+00:00,6.75,6.8507,6.5000,6.620,4500,6.75,6.8507,6.5000,6.620,4500,0.0,1.0
4,ATOM,2016-12-01 00:00:00+00:00,6.52,6.8112,6.5200,6.810,3833,6.52,6.8112,6.5200,6.810,3833,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,ATOM,2021-11-16 00:00:00+00:00,30.51,31.1000,29.3800,30.740,492951,30.51,31.1000,29.3800,30.740,492951,0.0,1.0
1253,ATOM,2021-11-17 00:00:00+00:00,28.77,30.9640,28.6700,30.390,276204,28.77,30.9640,28.6700,30.390,276204,0.0,1.0
1254,ATOM,2021-11-18 00:00:00+00:00,27.87,29.5000,27.1401,29.040,318967,27.87,29.5000,27.1401,29.040,318967,0.0,1.0
1255,ATOM,2021-11-19 00:00:00+00:00,28.30,29.0500,27.8495,27.930,233834,28.30,29.0500,27.8495,27.930,233834,0.0,1.0
1256,ATOM,2021-11-22 00:00:00+00:00,25.59,29.0100,25.5500,28.570,429027,25.59,29.0100,25.5500,28.570,429027,0.0,1.0